body {
    margin: 0.5rem;
    font-family: arial;
    font-size: 1rem;
}

.two-pane {
    display: flex;
    height: 100%;
}

.container {
    flex-direction: column;
    max-height: calc(100% - 1rem);
    overflow: auto;
    padding: 1rem 0.5rem;
}

.body {
    flex-grow: 1;
}

.input, .input:focus {
    font-family: arial;
    font-size: 1rem;
    outline: none;
    border: none;
    display: block;
    outline: none;
    padding: 0;
}

.player-input {
    margin-bottom: 1rem;
}

.computer-input {
    color: blue;
    margin-bottom: 1rem;
}

.status {
    width: 20rem;
    display: flex;
    flex-direction: column;
    height: calc(100% - 1rem);
}

.status > div {
    border: 1px solid black;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.about {
    height: 10rem;
}

.inventory {
    flex-grow: 1;
}

.title {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

.about-text, .inventory-text {
    overflow: scroll;
    opacity: 0.5;
}